img{
    width: 100px;
    height: 100px;
}
.danger{
    background-color: red;
    padding: 10px;
    border-radius: 30px;
    color: white;
}
.success{
    background-color: green;
    padding: 10px;
    border-radius: 30px;
    color: white;
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
  
.fixed-table {
    width: 1200px;
}
  
.fixed-table th, .fixed-table td {
    width: 200px;
}
.table th span {
    font-weight: bold;
}
.table th span {
  font-weight: bold;
}
  